[Unit]
Description=CSCH Megabot
After=multi-user.target

[Service]
Type=simple
Environment="DISCORD_TOKEN=token_goes_here" "DISCORD_GUILD_ID=id_goes_here" "DISCORD_GO_LINKS_DB_PATH=/home/megabot/golinks.db"
User=megabot
ExecStart=/usr/local/bin/megabot
Restart=always

[Install]
WantedBy=multi-user.target
